.item-list-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: black;
    padding: 10px 0;
}

.bright-text{
    color: white;
    font-size: 40px;
    
}