.nav-container{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:black;
}
.nav-brand{
    width: 20px;
}
.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
}
.navegacion a{
    margin: 10px;

}

.navegacion .rightside .navlinksin{
    position: absolute;
    top: 5px;
    right: 50px;
    align-items: right;
    font-weight: 600;
    position: right;
    color: white;
}

.navegacion .rightside .navlinksup{
    position: absolute;
    top: 5px;
    right: 130px;
    align-items: right;
    font-weight: 600;
    position: right;
    color: white;
}

.claseActive{
    color: yellow;
}
.claseInactive{
    color: white;
}